<!DOCTYPE html>
<html>
   <head>
      <title>Spymaster</title>
      <style>
      table, th, td {
        border: 1px solid black;
        text-align: center;
        padding: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
      }
    </style>
   </head>

   <body>
   	<h1> Spymaster</h1>

    <table style="width:100%">

 <tr>
   <td style="color: Red">Draft</td>
   <td style="color: Red">Smuggler</td>
   <td style="color: Black">Mail</td>
   <td style="color: Blue">Scorpian</td>
   <td style="color: Blue">Octopus</td>
 </tr>
 <tr>
   <td style="color: Blue">Crown</td>
   <td style="color: Red">Turkey</td>
   <td style="color: Gray">Queen</td>
   <td style="color: Blue">Olympus</td>
   <td style="color: Blue">Theater</td>
 </tr>
 <tr>
   <td style="color: Red">Lion</td>
   <td style="color: Black">Moon</td>
   <td style="color: Blue">Czech</td>
   <td style="color: Red">Round</td>
   <td style="color: Black">Spot</td>
 </tr>
 <tr>
   <td style="color: Black">Stick</td>
   <td style="color: Red">Mount</td>
   <td style="color: Red">Fence</td>
   <td style="color: Red">Note</td>
   <td style="color: Black">Bottle</td>
 </tr>
 <tr>
   <td style="color: Blue">Church</td>
   <td style="color: Blue">Bolt</td>
   <td style="color: Blue">Bat</td>
   <td style="color: Black">Wall</td>
   <td style="color: Black">Penguin</td>
 </tr>
</table>

   </body>
</html>
