<!DOCTYPE html>
<html>
   <head>
      <title>Spymaster</title>
      <style>
      table, th, td {
        border: 1px solid black;
        text-align: center;
        padding: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
      }
    </style>
   </head>

   <body>
   	<h1> Spymaster</h1>

    <table style="width:100%">

 <tr>
   <td style="color: Red">Draft</td>
   <td style="color: Black">Smuggler</td>
   <td style="color: Blue">Mail</td>
   <td style="color: Blue">Scorpian</td>
   <td style="color: Blue">Octopus</td>
 </tr>
 <tr>
   <td style="color: Black">Crown</td>
   <td style="color: Red">Turkey</td>
   <td style="color: Blue">Queen</td>
   <td style="color: Blue">Olympus</td>
   <td style="color: Black">Theater</td>
 </tr>
 <tr>
   <td style="color: Red">Lion</td>
   <td style="color: Red">Moon</td>
   <td style="color: Red">Czech</td>
   <td style="color: Black">Round</td>
   <td style="color: Red">Spot</td>
 </tr>
 <tr>
   <td style="color: Red">Stick</td>
   <td style="color: Blue">Mount</td>
   <td style="color: Blue">Fence</td>
   <td style="color: Black">Note</td>
   <td style="color: Blue">Bottle</td>
 </tr>
 <tr>
   <td style="color: Black">Church</td>
   <td style="color: Red">Bolt</td>
   <td style="color: Red">Bat</td>
   <td style="color: Gray">Wall</td>
   <td style="color: Black">Penguin</td>
 </tr>
</table>

   </body>
</html>
